
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html {
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;

}

body {

    overflow-x: hidden;
    height: 100%;
    background: url("/images/back_2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contant {
    background: rgba(0, 0, 0, 0.85);
    padding: 10px;
}

.btn_demo {
    position: absolute;
    font-size: 16px;
    font-weight: 300;
    top: 185px;
    left: 550px;
    width: 200px;
}

.right_block_seller {

}

.seller_div {
    width: 450px;
    float: left;
    position: relative;
}

.logo {
    padding-top: 3px;
}

.bold_red {
    color: red;
    font-weight: bold;
}

.gold_text {

    color: #D5AD6D; /*if no support for background-clip*/

    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.errorMessage {
    color: red;
    font-weight: bold;
}

*:focus {
    outline: none;
}

.modal_ship_buy {
    width: 520px;
    height: 295px;
    background: url('../images/window.png') !important;
    border: none !important;
    padding: 20px;
}

.modal_add_strategy {

    width: 920px;
    height: 495px;
    background: url('../images/window_big.png') !important;
    border: none !important;
    padding: 20px;

}

.white {
    color: #ffffff !important;
}

.name_ship {
    position: absolute;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    top: 30px;
    left: 30px;
}

.btn_close_modal {
    float: right;
    font-size: 22px;
    text-shadow: 0 1px 0 #ffffff;
    border: none;
    background: none;
}

.slogan {
    position: absolute;
    left: 190px;
    top: 20px;
    color: #ffffff;
    font-family: Geometric706;
}

.inf_mon {
    font-family: Geometric706;
    position: absolute;
    top:70px;
    left:180px;
    color:#FFFFFF;
}

.text_general {
    color: #ffffff;
    width: 430px;
}

.text_general_100 {
    color: #ffffff;
    padding: 15px;
    padding-bottom: 5px;
}

.text_info_person {
    color: #ffffff;
    padding: 15px;
    padding-top: 5px;
}

.girl_image {
    position: absolute;
    top: 14px;
    left: 18px;
}

.text_my_ship {
    width: 410px;
    color: white;
}

.info {
    margin: 10px;
    text-align: left;
    background: #343eb9;
    color: #ffffff;
    border-radius: 3px;
}

.kranshteyn_hr_myship {
    background: url(../images/kranshteyn.png);
    width: 510px;
    height: 10px;
}

.modal {
    color: #ffffff;
}

.btn_buy_ship {
    position: absolute;
    top: 340px;
    right: 30px;
    z-index: 100;
}

.sr-only {
    color: #000000;
    margin-left: 10px;
}

.btn_sell_ship {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
}

.fuel_indicator {
    position: absolute;
    top: 288px;
    left: 30px;
    z-index: 100;
    width: 500px;
}

.progress_fuel {
    height: 10px !important;
}

.ship_image {
    position: absolute;
    top: -30px;
    left: 30px;
}

.col-xs-6 {

    width: 50%;
    float: left;

}

.btn_kill_boss {
    position: absolute;
    top: 330px;
    left: 350px;
    cursor: pointer;
    width: 243px;
    height: 76px;
    background: url(../images/btns/kill.jpg);
}

.btn_kill_boss:hover {
    background: url(../images/btns/kill_a.jpg);
}

.win_boss {
    display: none;
    position: absolute;
    top: 320px;
    left: 290px;
}

.loose_boss {
    display: none;
    position: absolute;
    top: 320px;
    left: 290px;
}

.btn_exit_boss {
    position: absolute;
    top: 650px;
    left: 50px;
    cursor: pointer;
    width: 243px;
    height: 76px;
    background: url(../images/btns/exit.jpg);
}

.btn_exit_boss:hover {
    background: url(../images/btns/exit_a.jpg);
}

.btn_again_boss {
    position: absolute;
    top: 650px;
    left: 650px;
    cursor: pointer;
    width: 243px;
    height: 76px;
    background: url(../images/btns/again.jpg);
}

.btn_again_boss:hover {
    background: url(../images/btns/again_a.jpg);
}

.no_ship_image {
    position: absolute;
    top: 33px;
    left: 16px;
}

.ship_engine {
    position: absolute;
    top: -30px;
    left: -10px;
}

.ship_gun {
    position: absolute;
    top: -30px;
    left: 50px;
}

.fuel_hours_info {
    color: #ffffff;
    position: absolute;
    top: 304px;
    left: 30px;
    font-size: 10px;
}

.chance_2x_info {
    color: #ffffff;
    position: absolute;
    top: 325px;
    left: 349px;
    font-size: 10px;
}

.navigation li {
    display: inline;
}

.menu {
    position: absolute;
    top: 110px;
    left: 150px;
}

#btn_worker {

    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/get_minerals.jpg");
    cursor: pointer;
}

#btn_worker:hover {

    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/get_minerals_a.jpg");

}

#btn_seller {
    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/sell.jpg");
    cursor: pointer;
}

#btn_seller:hover {
    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/sell_a.jpg");
}

#btn_fighter {
    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/kill.jpg");
    cursor: pointer;
}

#btn_fighter:hover {
    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/kill_a.jpg");
}

.img_share {

    cursor: pointer;

}

#btn_pirat {
    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/get.jpg");
    cursor: pointer;
}

.black_konkurs {
    font-weight: bold;
    color: #ffffff;
    background: #000000;
    padding: 3px;
}

#btn_pirat:hover {
    display: block;
    width: 243px;
    height: 76px;
    background: url("../images/btns/get_a.jpg");
}

.top_menu {
    position: absolute;
    top: -60px;
    left: 210px;
}

.user_hello {
    margin-left: 10px;
    background: #000000;
    padding: 5px;
    border: 1px solid #349BB9;
    border-radius: 5px;
    float: right;
    color: #ffffff;
    max-width: 150px;
    margin-top: -110px;
}

.red {
    color: red;
}

.window_general {

    float: right;
    margin-top: 5px;
    margin-right: -60px;
    position: relative;
    width: 560px;

}

#form-phone {
    margin-bottom: 0px !important;
}

.panel_info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    padding: 10px;
    background: #000000;
}

.button {
    cursor: pointer;
}

.button_add_room {
    display: block;
    background: url('../images/btn_add.png');
    width: 412px;
    height: 128px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button_add_room:hover {
    display: block;
    background: url('../images/btn_add_hover.png');
    width: 412px;
    height: 128px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#text_round {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    width: 940px;
}

.button_join_room {
    display: block;
    background: url('../images/btn_join_hover.png');
    width: 412px;
    height: 128px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button_join_room:hover {
    display: block;
    background: url('../images/btn_join.png');
    width: 412px;
    height: 128px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.window_my_ship {

    float: right;
    margin-top: 100px;
    margin-right: -60px;
    position: relative;
    width: 560px;

}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.big_font {
    font-weight: bold;
    font-size: 18px;
}

.krepezh_img {
    position: absolute;
    right: -17px;
    top: -9px;
}

.kranshteyn {
    position: absolute;
    width: 500px;
    right: -517px;
    top: -9px;
    background: url('../images/kranshteyn.png');
    height: 10px;
    overflow: hidden;
}

.flash_success {
    background: rgb(91, 222, 119);
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
}

.kranshteyn_hr {
    background: url('../images/kranshteyn.png');
    height: 10px;
    width: 480px;
}

.kranshteyn_hr_100 {
    background: url('../images/kranshteyn.png');
    height: 10px;
    width: 100%;
}

small {
    font-size: 11px;
}

#header, #page {
    border: 0px none;
}

#page {
    position: relative;
}

div.example_title {
    color: #000;
    border-bottom: 2px solid #FB0;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    font-weight: bold;
    font-size: 1.3em;
}

div.small_title {
    color: #000;
    border-bottom: 1px solid #55A;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    font-weight: bold;
    font-size: 1.1em;
}

div.demo_box {
    padding: 1em;
    border: 1px dashed #AAC;
    margin-bottom: 1.5em;
}

div.demo_box:after {
    content: " ";
    clear: both;
    display: block;
}

div.source_box {
    margin-bottom: 3em;
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 0.9em;
}

div.source_box div.syntaxhighlighter {
    max-height: 600px;
    overflow: auto;
}

div.container {
    position: relative;
}

#top_right_box {
    position: fixed;
    top: 40px;
    right: 0px;
    background: #FFF;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    z-index: 100;
}

#top_right_box form {
    display: inline;
}

#hide_source_toggle {
    display: inline-block;
}

#more_topic_info {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

div.breadcrumbs {
    padding: 20px;
}

#more_topic_info a {
    cursor: pointer;
    background-image: url('../images/help.png');
    background-repeat: no-repeat;
    background-position: right top;
    display: inline-block;
    height: 24px;
    padding-top: 2px;
    padding-right: 26px;
    text-decoration: none;
}

#header {

    background: url('../images/head.png');
    width: 940px;
    height: 160px;

}

#body {
    margin-bottom: 60px;
}

#page {
    position: relative;
    min-height: 100%;
}

.table-bordered {
    color: #ffffff;
}

.content {
    margin: 10px 0px 15px;
    padding: 20px;
    color: #ffffff !important;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 19.5px;
    background: rgba(0, 0, 0, 0.78);

}

.margin_bottom_0 {
    margin-bottom: 0px;
}

.nav-tabs {
    margin-top: 10px;
    border-bottom: 2px solid #C4CF0C;
}

.nav-tabs .active a {
    background: url('../images/kranshteyn.png') repeat-x;
    color: #ffffff;
    border: 1px solid #C4CF0C;
}

#regist {
    margin-left: 10px;
}

.contanier_regist {

    width: 400px;
    float: left;
    text-align: center;
    border: dashed #349BB9 5px;
    padding: 10px;

    background: url('../images/back_form.jpg');
}

.container_item {
    border: dashed #349BB9 5px;
    padding: 10px;

    background: url('../images/back_form.jpg');
}

.container_item_close {
    border: dashed #349BB9 5px;
    padding: 10px;

    background: url('../images/ellow_black.png');
}

.regist_iframe {

    width: 408px;
    float: left;

}

#yw0_button {
    margin-left: 10px;
    color: #ffffff;
    text-decoration: underline;
}

#footer {
    position: absolute;
    background: url('../images/footer.png');
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.down_menu {
    position: absolute;
    left: 430px;
    top: 20px;
}

.info {
    position: relative;
}

.close_info {
    width: 16px;
    height: 16px;
    background: url('../images/close-btn.png');
    position: absolute;
    right: 2px;
    top: 2px;
}

#more_topic_info a:hover {
    color: #FA0;
}

#more_info_content {
    display: none;
}

#more_info_inner ul.link_list {
    margin-left: 4px;
    font-size: 0.9em;
    margin-bottom: 1em;
}

div.popover {
    width: 326px;
}

ul.link_list {
    list-style: none;
    padding-left: 3px;
}

ul.link_list li {
    background: url('../images/html.png') no-repeat center left;
    padding-left: 20px;
}

ul.link_list li a {
    text-decoration: none;
}

ul.link_list li a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------- */

#lang_selector {
    background: #EEE;
    padding: 0.3em;
    margin-bottom: 1em;
    color: #888;
    padding-left: 2em;
}

/* ------------------------------------------------- */

div.right_menu {
    position: fixed;
    width: 180px;
    right: 0px;
    top: 160px;
    background: #FFFFFF;
    border-right: 0px none;
    z-index: 10;
}

div.right_menu div.title {
    background: #666;
    border-bottom: 1px solid #888;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 0em;
    color: #FFF;
    font-weight: bold;
}

div.right_menu div.title a {
    font-weight: normal;
    float: right;
    margin-right: 0.4em;
    text-decoration: none;
    color: #CCC;
}

div.right_menu ul {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

div.right_menu ul li {
    background: #fff;
    border-bottom: 1px dotted #888;
    display: block;
    width: 100%;
    padding: 0px;
    font-size: 0.9em;
}

div.right_menu ul li.selected {
    background-color: #FFAA3E;
}

div.right_menu ul li.selected a {
    color: #200;
}

div.right_menu ul li.last {
    border-bottom: 0px none;
}

div.right_menu ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 0.3em;
}

div.right_menu ul li a:hover {
    background-color: #DDD;
}

/* ------------------------------------------------- */
/* Gridview + bootstrap */

div.grid-view select,
div.grid-view textarea,
div.grid-view input {
    padding: 0;
}

/* ------------------------------------------------- */

footer {
    text-align: center;
    font-size: 0.8em;
}